Flask~=2.0.0
pandas~=1.2.4
gunicorn
plotly~=4.14.3
certifi
chardet
Click
dask
decorator
Flask-Compress
html5lib
idna
ipython-genutils
Jinja2
jupyter-core
nbformat
numpy~=1.20.3
pytz
six~=1.12.0
traitlets
Werkzeug
scikit-learn
statsmodels
graphviz
pydotplus
IPython
pydot
nltk
textblob
speechrecognition
pyaudio