Flask
pandas
gunicorn
plotly
certifi
chardet
Click
dask
decorator
Flask-Compress
html5lib
idna
ipython-genutils
Jinja2
jupyter-core
nbformat
numpy
pytz
six
traitlets
Werkzeug
scikit-learn
statsmodels
graphviz
pydotplus
pydot
IPython