{% extends "layout.html.j2" %}

{% block title %} Sage DS Assignments {% endblock %}

{% block body %}
    <h1>Welcome!</h1>

    <p>These are the list of assignments completed for Sage DS program.</p>
    <ol>
        <li><a href="/assignment4">Assignment four - Data Visualization with Pandas - Tax rate versus GDP.</a></li>
        <li><a href="/assignment5">Assignment five - Feature Engineering with Pandas - Average movie earnings per year.</a></li>
        <li><a href="/assignment9">Assignment nine - Logistic Regression - Telecom customer churn prediction.</a></li>
        <li><a href="/assignment10">Assignment ten - KNN / Classification - Titanic survivor prediction.</a></li>
        <li><a href="/assignment11">Assignment eleven - Decision Trees - Bank deposit analysis.</a></li>
        <li><a href="/assignment11b">Assignment eleven B - Random Forests - Employee attrition analysis.</a></li>
        <li><a href="/assignment12">Assignment twelve - Clustering - .</a></li>
        <li><a href="/assignment13">Assignment thirteen - Dimensionality Reduction with PCA - .</a></li>
        <li><a href="/assignment14">Assignment fourteen - NLP - .</a></li>
        <li><a href="/assignment15">Assignment fifteen - Recommender system - .</a></li>
        <li><a href="/capstone">Capstone project - Speech recognition & Sentiment analysis - .</a></li>
    </ol>
{% endblock %}
