{% extends "layout.html.j2" %}

{% block title %} Sage DS Assignments {% endblock %}

{% block body %}
    <h1>Welcome!</h1>

    <p>These are the list of assignments completed for Sage DS program.</p>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Date</th>
            <th>Lesson #</th>
            <th>Lesson Topic</th>
            <th>Assignment Name</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>28 Apr 2021</td>
            <td>4</td>
            <td><a href="/assignment4">Data Visualization with Pandas</a></td>
            <td><a href="/assignment4">Tax rate versus GDP</a></td>
        </tr>
        <tr>
            <td>03 May 2021</td>
            <td>5</td>
            <td><a href="/assignment5">Feature Engineering with Pandas</a></td>
            <td><a href="/assignment5">Average movie earnings per year</a></td>
        </tr>
        <tr>
            <td>05 May 2021</td>
            <td>6</td>
            <td>Statistics & Hypothesis Testing</td>
            <td>Monthly data usage per mobile brand</td>
        </tr>
        <tr>
            <td>10 May 2021</td>
            <td>7</td>
            <td>Linear Regression</td>
            <td>Covid prediction</td>
        </tr>
        <tr>
            <td>12 May 2021</td>
            <td>8</td>
            <td>Train-Test Split & Bias-Variance</td>
            <td>House price analysis for Bangalore</td>
        </tr>
        <tr>
            <td>17 May 2021</td>
            <td>9</td>
            <td><a href="/assignment9">Logistic Regression</a></td>
            <td><a href="/assignment9">Telecom customer churn prediction</a></td>
        </tr>
        <tr>
            <td>19 May 2021</td>
            <td>10</td>
            <td><a href="/assignment10">KNN / Classification</a></td>
            <td><a href="/assignment10">Titanic survivor prediction</a></td>
        </tr>
        <tr>
            <td>24 May 2021</td>
            <td>11</td>
            <td><a href="/assignment11">Decision Trees</a></td>
            <td><a href="/assignment11">Bank deposit analysis</a></td>
        </tr>
        <tr>
            <td>26 May 2021</td>
            <td>12</td>
            <td><a href="/assignment12">Random Forests</a></td>
            <td><a href="/assignment12">Employee attrition analysis</a></td>
        </tr>
        <tr>
            <td>01 Jun 2021</td>
            <td>13</td>
            <td>Clustering</td>
            <td></td>
        </tr>
        <tr>
            <td>02 Jun 2021</td>
            <td>14</td>
            <td>PCA & Anomaly Detection</td>
            <td></td>
        </tr>
        <tr>
            <td>07 Jun 2021</td>
            <td>15</td>
            <td>NLP</td>
            <td></td>
        </tr>
        <tr>
            <td>09 Jun 2021</td>
            <td>16</td>
            <td><a href="/assignment16">Recommender system</a></td>
            <td><a href="/assignment16">Movie recommender</a></td>
        </tr>
        <tr>
            <td>14 Jun 2021</td>
            <td>17</td>
            <td><a href="/assignment17">Time Series</a></td>
            <td><a href="/assignment17">Average bus ridership</a></td>
        </tr>
        </tbody>
    </table>
{% endblock %}
