{% extends "layout.html.j2" %}

{% block title %} Sage DS Assignments {% endblock %}

{% block body %}
    <h1>Welcome!</h1>

    <p>These are the list of assignments completed for Sage DS program.</p>
    <ol>
        <li><a href="/assignment4">Fourth assignment.</a></li>
        <li><a href="/assignment5">Fifth assignment.</a></li>
        <li><a href="/assignment9">Ninth assignment.</a></li>
        <li><a href="/assignment10">Tenth assignment.</a></li>
    </ol>
{% endblock %}
